@tailwind base;
@tailwind components;
@tailwind utilities;

.button-hover-scale {
  transition: transform 0s ease, box-shadow 0s ease;
}

.button-hover-scale:hover {
  transform: scale(1.03); /* Slight scaling effect */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow increase */
}
